<!DOCTYPE html>
<html data-ng-app="UsagePage">

<head>
    <title>Usages</title>
    <link href="./libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css">
        .selectedPage {
        	color: black;
        	font-weight: bold;
        }
    </style>
</head>

<body>
    <div class="container-fluid" data-ng-controller="Controller" id="contentDiv">
        <div class="row" style="padding: 30px">
            <div class="col-sm-5 col-sm-offset-1">
                <input type="search" class="form-control" width="500px" data-ng-model="searchText">
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-primary" data-ng-click="doSearch()">{{Messages.Search}}</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" style="padding: 30px">
                <table class=" table table-hover">
                    <tr>
                        <th>{{Messages.Name}}</th>
                        <th class="muted ">{{Messages.Version}}</th>
                        <th class="muted ">{{Messages.UUID}}</th>
                        <th></th>
                    </tr>
                    <tr data-ng-repeat="item in pager.pageContent ">
                        <td>
                            <a href="# " data-ng-click="doOpenModel(item) " title="{{item.description}} ">{{item.name}}</a>
                        </td>
                        <td class="muted ">{{item.version}}</td>
                        <td class="muted ">{{item.refId}}</td>
                        <td>
                            <span class="glyphicon glyphicon-cloud-download " title="Download " style="cursor: pointer " data-ng-click="doDownload(item) "></span>
                        </td>

                    </tr>
                </table>
                <div style="text-align: center; ">
                    <a data-ng-show="pager.pageCount>1" data-ng-click="pager.previous()">&lt;&lt;</a>
                    <a data-ng-repeat="n in pageNumbers()" data-ng-click="pager.selectPage(n)" data-ng-class="{selectedPage: n==pager.currentPage}">{{" " + n + " "}}</a>
                    <a data-ng-show="pager.pageCount > 1" data-ng-click="pager.next()">&gt;&gt;</a>
                </div>
            </div>

        </div>
    </div>

    <script src="./libs/jquery.min.js"></script>
    <script src="./libs/angular.min.js"></script>
    <script src="./libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="./libs/olca.utils.js"></script>

    <script type="text/javascript">
        var app = angular.module('UsagePage', []);
        
        var Controller = function ($scope) {
            
            $scope.searchText = "";
            $scope.items = [];
            $scope.pager = new olca.Pager(100);
			$scope.Messages = {};
        
            $scope.setData = function (items) {
                $scope.items = items;
                $scope.pager.setItems(items);
            };
        
            $scope.pageNumbers = function () {
                var numbers = [];
                for (var i = 1; i <= $scope.pager.pageCount; i++) {
                    numbers.push(i);
                }
                return numbers;
            };
        
            $scope.doSearch = function () {
                try {
                    java.search($scope.searchText);
                } catch (e) {
                    alert(e);
                }
            };
            
            $scope.doOpenModel = function(item) {
                try {
                    java.openModel(angular.toJson(item));
                } catch (e) {
                    alert(e);
                }
            };
            
            $scope.doDownload = function(item) {
                try {
                    java.download(angular.toJson(item));
                } catch (e) {
                    alert(e);
                }
            };
        
        };
        app.controller('Controller', Controller);
        
		function setMessages(messages) {
			var element = document.getElementById("contentDiv");
            var scope = angular.element(element).scope();
            scope.$apply(function () {
                scope.Messages = messages;
            });
		}
		
        // set the page data
        function setData(descriptors) {           
            var element = document.getElementById("contentDiv");
            var scope = angular.element(element).scope();
            scope.$apply(function () {
                scope.setData(descriptors)
            });
        }
    </script>

</body>

</html>