<!DOCTYPE html>
<html data-ng-app="StartPage">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />


    <title>EPD Editor</title>
    <link href="./libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <style type="text/css">
        .well {
            background-color: #ffffff;
            border: none;
            box-shadow: none;
        }
        
        .well button {
            margin-bottom: 20px;
        }
        
        .box-row1 {
            padding-bottom: 0px;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 20px;
        }
        
        .box-row2 {
            padding: 20px;
        }
        
        .btn-primary {
            width: 225px;
        }
        
        .well .glyphicon {
            margin-right: 10px;
        }
    </style>
</head>

<body data-ng-controller="Controller">

    <div class="page-header" style="margin:20px">
        <h1>
            {{Messages.EPDEditor}}
            <small>v1.0</small>
        </h1>
    </div>

    <div id="navigation-section" class="container-fluid" style="margin:20px">

        <div class="row">
            <div class="col-sm-6 box-row1">
                <div class="well">
                    <button class="btn btn-primary" onclick="java.createEpd();">
                        <span class="glyphicon glyphicon-wrench"></span>
                        {{Messages.CreateANewEPD}}
                    </button>
                    <p>{{Messages.CreateANewEPD_Description}}</p>
                </div>
            </div>

            <div class="col-sm-6 box-row1">
                <div class="well">
                    <button class="btn btn-primary" onclick="java.openServerConfiguration()">
                        <span class="glyphicon glyphicon-cog"></span>
                        {{Messages.ServerConfiguration}}
                    </button>
                    <p>{{Messages.ServerConfiguration_Description}}</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 box-row2">
                <div class="well">
                    <button class="btn btn-primary" onclick="java.openSearchPage()">
                        <span class="glyphicon glyphicon-search"></span>
                        {{Messages.SearchEPDs}}
                    </button>
                    <p>{{Messages.SearchEPDs_Description}}</p>
                </div>
            </div>

            <div class="col-sm-6 box-row2">
                <div class="well">
                    <button class="btn btn-primary" onclick="callOpenUrl('http://oekobaudat.online-now.de')">
                        <span class="glyphicon glyphicon-globe"></span>
                        {{Messages.OekobaudatWebsite}}
                    </button>
                    <p>{{Messages.OekobaudatWebsite_Description}}</p>
                </div>
            </div>

            <div class="col-sm-6 box-row3">
                <div class="well">
                    <button class="btn btn-primary" onclick="java.openIndicatorMapping()">
                        <span class="glyphicon glyphicon-list-alt"></span>
                        {{Messages.IndicatorMapping}}
                    </button>
                    <p>{{Messages.IndicatorMapping_Description}}</p>
                </div>
            </div>

            <div class="col-sm-6 box-row3">
                <div class="well">
                    <button class="btn btn-primary" onclick="java.openPropertiesEditor()">
                        <span class="glyphicon glyphicon-tags"></span>
                        {{Messages.MaterialProperties}}
                    </button>
                    <p>{{Messages.MaterialProperties_Description}}</p>
                </div>
            </div>
        </div>
        <div class="container-fluid" id="contentDiv">
            <div class="row">
                <div class="col-sm-12" style="padding: 30px">
                    <h4>{{Messages.MyEPDs}}</h4>
                    <table class=" table table-hover">
                        <tr>
                            <th>{{Messages.Name}}</th>
                            <th class="muted">{{Messages.Version}}</th>
                            <th class="muted">{{Messages.UUID}}</th>
                            <th></th>
                        </tr>
                        <tr data-ng-repeat="item in pager.pageContent ">
                            <td>
                                <a href="#" data-ng-click="openEpd(item)" title="{{item.description}} ">{{item.name}}</a>
                            </td>
                            <td class="muted">{{item.version}}</td>
                            <td class="muted">{{item.refId}}</td>
                            <td>
                                <span class="glyphicon glyphicon glyphicon-trash" title="Delete " style="cursor: pointer " data-ng-click="deleteEpd(item)"></span>
                            </td>
                        </tr>
                    </table>
                    <div style="text-align: center; ">
                        <a data-ng-show="pager.pageCount>1" data-ng-click="pager.previous()">&lt;&lt;</a>
                        <a data-ng-repeat="n in pageNumbers()" data-ng-click="pager.selectPage(n)" data-ng-class="{selectedPage: n==pager.currentPage}">{{" " + n + " "}}</a>
                        <a data-ng-show="pager.pageCount > 1" data-ng-click="pager.next()">&gt;&gt;</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="./libs/jquery.min.js"></script>
    <script src="./libs/angular.min.js"></script>
    <script src="./libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="./libs/olca.utils.js"></script>

    <script type="text/javascript">
	    $(document).ready(function() {
	    	$('#navigation-section .well').css('height', 'auto');
	    	$('#navigation-section .well').css('height', retrieveMaximumHeight('#navigation-section .well') + 'px');
		});

	    function retrieveMaximumHeight(selector) {
	    	var maximumHeight = 0;
	    	$('#navigation-section .well').each(
		    			function() {
		    				if ($(this).height() > maximumHeight)
		    					maximumHeight = $(this).height();
		    			}
	    			);
	    	return maximumHeight;
	    }

	    $( window ).resize(function() {
	    	$('#navigation-section .well').css('height', 'auto');
	    	$('#navigation-section .well').css('height', retrieveMaximumHeight('#navigation-section .well') + 'px');
    	});
	    
        function callOpenUrl(url) {
            java.openUrl(url);
        }
    </script>

    <script type="text/javascript">
        var app = angular.module('StartPage', []);
        var Controller = function ($scope) {
            $scope.searchText = "";
            $scope.items = [];
            $scope.pager = new olca.Pager(100);
			$scope.Messages = {};
        
            $scope.setData = function (items) {
                $scope.items = items;
                $scope.pager.setItems(items);
            };
						        
            $scope.pageNumbers = function () {
                var numbers = [];
                for (var i = 1; i <= $scope.pager.pageCount; i++) {
                    numbers.push(i);
                }
                return numbers;
            };
            
            $scope.openEpd = function(item) {
                java.doOpen(angular.toJson(item));
            };

            $scope.deleteEpd = function(item) {
                console.log('$$ delete EPD');
                java.doDelete(angular.toJson(item));
            };
        };
        app.controller('Controller', Controller);
        
		function setMessages(messages) {
            var scope = $('#contentDiv').scope();
            scope.$apply(function () {
                scope.Messages = messages;
            });
			$('#navigation-section .well').css('height', 'auto');
	    	$('#navigation-section .well').css('height', retrieveMaximumHeight('#navigation-section .well') + 'px');
		}
		
        // set the page data
        function setData(descriptors) {
            var scope = $('#contentDiv').scope();
            scope.$apply(function () {
                scope.setData(descriptors)
            });
        }
    </script>

</body>


</html>